<footer class="page-footer font-small indigo">
  
    <hr class="rgba-white-light" style="margin: 0 15%;">
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
        <div class="col-md-8 col-12 mt-5">
            <p style="line-height: 1.7rem; color: white; font-size: xx-large;">I HERE TOO</p>
            <p style="color: white;">Teammember | Advertorial | Contact Us</p>
        </div>
    </div>
    <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
    <div class="footer-copyright text-center py-3" style="color: white;">COPYRIGHT © 2020. ALL RIGHTS RESERVED</div><br>
</footer>
