<app-navbar></app-navbar><br><br>
<div class="container">
    <h3 style="color: #555555;">{{title}}</h3>
    <p class="card-text" style="color: #8D8D8D;"><small class="text-muted"><b>author :</b> {{name}} &nbsp;&nbsp;<b>updated :</b> {{updatedAt}}</small></p>
    <img src="../../assets/prayut.jpg" width="100%" height="auto"><br><br><br><br>
    <div [innerHTML]="detail"></div><br><br>
    <div>tag :
        <div *ngFor="let tag of tags" style="display: inline-block;">
            <a routerLink="/list"><button type="button" class="btn btn-light btn-sm">{{tag}}</button>&nbsp;</a>
        </div>
    </div>

</div>
<br><br>
<app-footer></app-footer>
