<app-navbar [list]="list"></app-navbar>
<app-slideshow></app-slideshow>
<div class="container" *ngIf="user != null">
    <br><br><br>
    <h2><b>News for You</b></h2><br><hr><br>
        <div class="row">
          <div class="col mb-4" *ngFor="let you of news_for_you">
            <div class="card mb-4" style="background: #AAAAAA;">
              <img src="../../assets/prayut.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">{{you.title | slice:0:50}}...</h5>
                <p class="card-text" [innerHTML]="you.body | slice:0:30"></p>
              </div>
              <div class="card-footer"><a routerLink="/read/{{you._id}}" style="color: #555555; font-size: small;">Continue Reading..</a></div>
            </div>
          </div>
        </div>
    </div>
    <br><br>
    <div style="background: #555555;" *ngIf="user != null">
      <div class="container"><br><br>
        <h2 style="color: white;" *ngIf="news1.length > 0"><b>News about {{about1}}</b>&nbsp;&nbsp;
        <a routerLink="/list/{{about1}}" class="text-white" style="font-size: small;">read more...</a></h2>
        <br>
        <div class="row" *ngIf="news1.length > 0">
          <div class="col mb-4" *ngFor="let new1 of news1[0] | slice:0:4">
            <div class="card mb-4" style="background: #555555; border-color: #6d6d6d;">
              <img src="../../assets/prayut.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title text-white">{{new1.title | slice:0:50}}..</h5>
                <p class="card-text" [innerHTML]="new1.body | slice:0:20"></p>
              </div>
              <div class="card-footer" style="border-color: #555555; background-color: #555555;">
                <a routerLink="/read/{{new1._id}}" style="color: white; font-size: small;">Continue Reading..</a></div>
            </div>
          </div>
        </div><br><br>

        <h2 style="color: white;" *ngIf="news2.length > 0"><b>News about {{about2}}</b>&nbsp;&nbsp;
        <a routerLink="/list/{{about2}}" class="text-white" style="font-size: small;">read more...</a></h2>
        <br>
        <div class="row" *ngIf="news2.length > 0">
          <div class="col mb-4" *ngFor="let new2 of news2[0] | slice:0:4">
            <div class="card mb-4" style="background: #555555; border-color: #6d6d6d;">
              <img src="../../assets/prayut.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title text-white">{{new2.title | slice:0:50}}..</h5>
                <p class="card-text" [innerHTML]="new2.body | slice:0:20"></p>
              </div>
              <div class="card-footer" style="border-color: #555555; background-color: #555555;">
                <a routerLink="/read/{{new2._id}}" style="color: white; font-size: small;">Continue Reading..</a></div>
            </div>
          </div>
        </div><br><br>

        <h2 style="color: white;" *ngIf="news3.length > 0"><b>News about {{about3}}</b>&nbsp;&nbsp;
        <a routerLink="/list/{{about3}}" class="text-white" style="font-size: small;">read more...</a></h2>
        <br>
        <div class="row" *ngIf="news3.length > 0">
          <div class="col mb-4" *ngFor="let new3 of news3[0] | slice:0:4">
            <div class="card mb-4" style="background: #555555; border-color: #6d6d6d;">
              <img src="../../assets/prayut.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title text-white">{{new3.title | slice:0:50}}..</h5>
                <p class="card-text" [innerHTML]="new3.body | slice:0:20"></p>
              </div>
              <div class="card-footer" style="border-color: #555555; background-color: #555555;">
                <a routerLink="/read/{{new3._id}}" style="color: white; font-size: small;">Continue Reading..</a></div>
            </div>
          </div>
        </div><br><br>

        <h2 style="color: white;" *ngIf="news4.length > 0"><b>News about {{about4}}</b>&nbsp;&nbsp;
          <a routerLink="/list/{{about4}}" class="text-white" style="font-size: small;">read more...</a></h2>
          <br> 
        <div class="row" *ngIf="news4.length > 0">
          <div class="col mb-4" *ngFor="let new4 of news4[0] | slice:0:4">
            <div class="card mb-4" style="background: #555555; border-color: #6d6d6d;">
              <img src="../../assets/prayut.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title text-white">{{new4.title | slice:0:50}}..</h5>
                <p class="card-text" [innerHTML]="new4.body | slice:0:20"></p>
              </div>
              <div class="card-footer" style="border-color: #555555; background-color: #555555;">
                <a routerLink="/read/{{new4._id}}" style="color: white; font-size: small;">Continue Reading..</a></div>
            </div>
          </div>
        </div><br><br>

        <h2 style="color: white;" *ngIf="news5.length > 0"><b>News about {{about5}}</b>&nbsp;&nbsp;
          <a routerLink="/list/{{about5}}" class="text-white" style="font-size: small;">read more...</a></h2>
          <br>
        <div class="row" *ngIf="news5.length > 0">
          <div class="col mb-4" *ngFor="let new5 of news5[0] | slice:0:4">
            <div class="card mb-4" style="background: #555555; border-color: #6d6d6d;">
              <img src="../../assets/prayut.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title text-white">{{new5.title | slice:0:50}}..</h5>
                <p class="card-text" [innerHTML]="new5.body | slice:0:20"></p>
              </div>
              <div class="card-footer" style="border-color: #555555; background-color: #555555;">
                <a routerLink="/read/{{new5._id}}" style="color: white; font-size: small;">Continue Reading..</a></div>
            </div>
          </div>
        </div><br><br>
      </div>
    </div><br><br>

    <div class="container">
      <div><br><br>
        <h2><b>Latest News</b></h2><br><hr><br>
        <div class="row">
          <div class="col mb-4" *ngFor="let latest of latests">
            <div class="card mb-4" style="background: #AAAAAA;">
              <img src="../../assets/prayut.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">{{latest.title | slice:0:50}}...</h5>
                <p class="card-text" [innerHTML]="latest.body | slice:0:30"></p>
              </div>
              <div class="card-footer"><a routerLink="/read/{{latest._id}}" style="color: #555555; font-size: small;">Continue Reading..</a></div>
            </div>
          </div>
        </div><br>
      </div>
      <h5 style="text-align: right;"><a routerLink="/list/latest" style="color: #555555;">Read More...</a></h5><br>
          <br><br>
          <h2><b>Thailand Highlight</b></h2><br><hr><br><br>
          <div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-4" *ngFor="let thailand of thailands">
                <div class="card mb-4">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img src="../../assets/prayut.jpg" class="card-img" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">{{thailand.title | slice:0:50}}...</h5>
                          <p class="card-text" style="color: black;" [innerHTML]="thailand.body | slice:0:30"></p>
                          <a routerLink="/read/{{thailand._id}}" style="float: right; font-size: small; color: #555555;">Continue Reading...</a>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
          </div>
    </div><br><br><br>
<app-footer></app-footer>
